@using AileHekimligiProje.Controllers
@using AileHekimligiProje.Models.EntityFramework
@model AileHekimligiProje.Models.EntityFramework.Doktor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yeni Hasta Kayıt</title>
    <script src="https://kit.fontawesome.com/712e0b150d.js" crossorigin="anonymous"></script>
</head>
<body style="background-color:  aliceblue;">
    
    <form method="post" style="padding-top: 100px;">
        <div class="container" style="background-color: LightSteelBlue; position: relative; margin: auto; text-align: center; width: 465px; height: 491px; border-radius: 10px; ">


            @using (Html.BeginForm("Newdoc", "Doktor", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.AdSoyad)
                    @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })

                    @Html.LabelFor(m => m.TC)
                    @Html.TextBoxFor(m => m.TC, new { @class = "form-control" })

                    @Html.LabelFor(m => m.Sifre)
                    @Html.TextBoxFor(m => m.Sifre, new { @class = "form-control" })

                    @Html.LabelFor(m => m.HastaneAdi)
                    @Html.TextBoxFor(m => m.HastaneAdi, new { @class = "form-control" })

                    @Html.LabelFor(m => m.SehirAdi)
                    @Html.TextBoxFor(m => m.SehirAdi, new { @class = "form-control" })

                    @Html.LabelFor(m => m.IlceAdi)
                    @Html.TextBoxFor(m => m.IlceAdi, new { @class = "form-control" })

                </div>
                @Html.HiddenFor(m => m.Id)
                <button type="submit" class="btn btn-light">Kaydet</button>
            }
        </div>
        <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    </form>
</body>
</html>
